.aboutHeadding {
    font-size: 44px;
    margin: 18px 0 10px;
    font-family: Bricolage Grotesque;
    font-weight: 700;
}

.aboutUsTittle {
    font-size: 18px;
    font-weight: 500;
    color: #1F1F1F;
}

.aboutFavorites {
    font-size: 30px;
    font-weight: 700;
    font-family: Bricolage Grotesque;
    color: #1A1B1E;
    margin: 30px 0;
}

.ownerImg {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.founderSection {
    width: 95%;
    margin: auto;
}

.ownerAbout {
    height: 100%;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.ownerName {
    font-size: 24px;
    font-family: Bricolage Grotesque;
    color: #062F8C;
    font-weight: 700;
    margin-bottom: 20px;
}

.ownerThought {
    font-size: 18px;
    color: #1F1F1F;
    font-weight: 500;
}

.founderTopMar {
    margin: 40px 0;
}

.contactDetail {
    margin-top: 20px;
}

.contactDetail>li {
    margin: 20px 0;
}

.addressContent {
    color: #5C5D5F;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}

.submitBtnContact {
    margin-left: auto;
    display: flex;
    margin-top: 20px;
    border: 1px solid #EF5508;
    background-color: #EF5508;
    color: #fff;
    border-radius: 7px;
    padding: 5px 30px;
    font-size: 14px;
}

.contactMessage {
    font-size: 24px;
    margin: auto;
    margin-bottom: 30px !important;
    width: 90%;
    text-align: center;
    font-weight: 700;
    font-family: Bricolage Grotesque;
}