.container{
  margin:80px auto;
  height:320px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family:'DM Sans';
  border-radius:8px 8px 0px 0px;
  background-color:white;
}

.ui-datepicker-header{
  background-color: #E86D2A;
  color:white;
  text-align:center;
  font-family:'DM Sans';
  padding:10px;
  height:40px;
  border-radius:8px 8px 0px 0px;
}

.ui-datepicker-calendar{
    width: 100%;
}

.ui-datepicker-prev span, 
.ui-datepicker-next span{
  display:none;
}

.ui-datepicker-prev:after{
  content:"<";
  font-size:2rem;
  float:left;
  margin-left:10px;
  cursor:pointer;
  top: -14px;
  position: relative;
  color: #fff;
}


.ui-datepicker-next:after{
  content:">";
  float:right;
  font-size:2rem;
  margin-right:10px;
  cursor:pointer;
  top: -14px;
  position: relative;
  color: #fff;
}
.ui-datepicker-calendar th{
  padding:10px;
  color:#E86D2A;
}

.ui-datepicker-calendar {
    text-align:center;
    margin:0 auto;
    padding:8px;
}

/* .ui-datepicker-title{
  padding:10px;
} */

.ui-datepicker-calendar td {
  padding:4px 4px;
}

.ui-datepicker-calendar td span{
    width: 100%;
    padding: 20px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: aliceblue;
}

.ui-datepicker-calendar td a{
    width: 100%;
    padding: 0px;
    display: inline-block;
    border: 1px solid #ddd;
    font-size: 20px;
}

.ui-datepicker-calendar .ui-state-default {
  text-decoration:none;
  color:black;
}

.ui-datepicker-calendar .ui-state-active {
    color: #fff;
    background-color: #E86D2A ;
}

.ui-datepicker-today a{
    color: #fff;
    background-color: #febe9c ;
}

.ui-datepicker-other-month a{
    color: #a99276 !important;
}
 